<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<html>
    <style>
        div {
            background-color: #58ACFA; 
            text-align: center;
            margin: auto;
            padding: 10px; 
        }
        a {
            color: white
        }
    </style>
</html>

<div> 
<h1> 192 Twitter </h1>

<p> Made by Olivia O'Dwyer </p>


<a href="/home">Go To Feed</a>

<hr>

<a href="/login">Log In</a>

</div>